@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html, 
body, 
#root, 
.app { 
  height: 100%; 
  width: 100%;
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: TiltNeon;
  src: 
    url("./assets/fonts/TiltNeon/TiltNeon-Regular.ttf"),
    local('TiltNeon')
    format("truetype")
}

@font-face {
  font-family: Poppins;
  src: 
    url("./assets/fonts/Poppins/Poppins-Regular.ttf"),
    local('Poppins')
    format("truetype")
}

@font-face {
  font-family: NotoSans;
  src: 
    url("./assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf"),
    local('NotoSans')
    format("truetype")
}

@font-face {
  font-family: OpenSans;
  src: 
    url("./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf"),
    local('OpenSans')
    format("truetype")
}

@font-face {
  font-family: TiltNeon;
  src: 
    url("./assets/fonts/TiltNeon/TiltNeon-Regular.ttf"),
    local('TiltNeon')
    format("truetype")
}

@font-face {
  font-family: PrequelShadow;
  src: 
    url("./assets/fonts/Prequel_Shadow/PrequelDemo-ShadowItalic.otf"),
    local('PrequelShadow')
    format("opentype")
}
