
# Client Side
# dependencies
client/node_modules

# sensitive
# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env
client/./.env
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


# Server Side
# dependencies
server/node_modules

# sensitive
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local


